<!DOCTYPE html>
<html>
<head>
	
	<!-- META -->
	<meta charset="utf-8">
  	<meta name="description" content="The official Algoryal wiki. Here you'll find information about the Algoryal company. The wiki includes guides, recommendations, and explanations. The wiki is designed for internal use but feel free to read it anyway.">
  	<meta name="author" content="Algoryal Edvard Busck-Nielsen">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<title>Algoryal - Wiki</title>

  	<!-- LINKS -->
  	<link rel="stylesheet" type="text/css" href="css/style.css">
  	<link rel="icon" type="image/png" href="" id="favicon">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">


	<!-- SCRIPTS -->
	<!-- [vue] development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://kit.fontawesome.com/692df9585f.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./js/includeHTML.js"></script>

</head>
<body>

	<div id="app">

		<div id="side-area">

			<section id="v-nav-bar" class="light">

				<nav>
					
					<a href="./"><img :src="favicon" alt="Algoryal" style="max-width: 42px; height: auto;"></a>
					<br>
					<br>
					<a @click="toggleSidebar()"><i class="fas fa-bars"></i></a>
					<br>
					<a @click="addPage()"><i class="fas fa-plus"></i></a>
				</nav>
			</section>

			<section id="sidebar" v-show="sidebar_state">

				<h1 id="sidebar-header"><img :src="wiki_banner_transparent" alt="Algoryal Wiki" style="max-width: 80%; height: auto;"></h1>

				<!-- Search area -->
		  		<div id="sidebar-search">
		  		
					<input v-model="search_term" placeholder="Search..." id="search-box" class="dark"> 
		  		</div>

		  		<br>
		  		<br>

		  		<!-- Pages area -->
		  		<div id="sidebar-pages"  class="dark">

		  			<h2 class="sidebar-sub-header">Pages</h2>
					<ul v-for="page in filter_wiki_pages" id="sidebar-pages-list">
						<li :class="{ active: isPageSelected(page.title) }"><a @click="openPage(page)"><i :class="page.icon"></i> {{ page.title }}</a></li>
					</ul>
					<p v-show="no_search_results">No items found...</p>
		  		</div>

		  		<br>

		  		<!-- Links area -->
		  		<div id="sidebar-links"  class="dark">

		  			<h2 class="sidebar-sub-header">Links</h2>
		  			<ul v-for="link in filter_sidebar_links">
						<a :href="link.link"><li>{{ link.title }}</li></a>
					</ul>
					<p v-show="no_link_search_results">No items found...</p>
		  		</div>
		  	</section>
		</div>

		<!-- MAIN -->
		<div id="content" class="dark">
			
			<section id="content-header">
				
				<div id="page-path" v-for="path in current_page.paths">
					<a @click="goToPath(path)">   {{ path.title }}  </a>/
				</div>
				<h1 id="page-title" class="color"><i :class="current_page.icon"></i> {{ current_page.title }}</h1>
				<p id="page-date">{{ current_page.date }}</p>
				
			</section>

			<br>
			
			<section id="page-content">
				<div id="PAGE--home" w3-include-html="./Pages/home.html" class="wiki-page" v-if="isPageSelected('Home')"></div>
				<div id="PAGE--algoryalapi" w3-include-html="./Pages/algoryalapi.html" class="wiki-page" v-if="isPageSelected('AlgoryalAPI')"></div>
			</section>
		</div>

		<br>
		<br>
		<br>

		<!-- FOOTER -->
		<footer class="dark">
			Algoryal &copy; Edvard Busck-Nielsen 2019
		</footer>

		
	</div>

	<script>
		w3.includeHTML();
	</script>

	<!-- Vue.js -->
	<script type="text/javascript" src="js/main_vue.js"></script>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- OTHER JS -->
	<script type="text/javascript" src="./js/setFavicon.js"></script>
</body>
</html>